.bacon {
    position: absolute;
    width: 70px;
}

.verticalLine {
    border-left: solid 2px white;
    height: 16px;
}

.circle {
    position: absolute; 

    &--small {
        width: 25px !important;
        height: 25px;
    }
}

.filledCircle {
    position: absolute;
    border-radius: 50%;
    background-color: $orange;
    opacity: 0.08;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 3;

    .header {

        &__flag {
            position: relative;
            margin: 0 30px;
            height: 182px;
            background-size: cover;
            background-image: url('../resources/flag.svg');
            top: -20px;
            padding: 50px 10px;
            padding-bottom: 0;

            & img {
                width: 215px;
            }
        }
    }

    & .pageInfo {
        display: flex;
        position: absolute;
        right: 10px;
        top: 20px;
        border-bottom: solid 2px white;
        height: 30px;
        width: 400px;
        padding: 0 50px;

        & a {
            font-size: $textSmall;
            text-decoration: none;
            color: white;
            margin: 0 10px;
        }
    }
}

nav {
    display: flex;
    width: 62%;

    & a {
        flex: 1;
        color: white;
        text-decoration: none;
        font-size: $textBody;
        font-weight: 800;
        text-align: center;
        max-width: 150px;
    }
}

.intro {
    width: 100%;
    height: 57vw;
    
    & img {
        width: 100%;
        position: absolute;
    }

    & p {
        position: relative;
        z-index: 2;
        color: white;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        top: 470px;
        font-size: $textSubtitle;
        width: 49%;
    }

    & .circle {
        top: 51.7vw;
        left: 60vw; 
    }
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title {
        text-align: center;

        & p {
            font-size: 22px;
            font-weight: 600;
            color: $orange;
        }
    }

    & .body {
        width: 70%;
        margin-top: 25px;
    }

    & .btn {
        margin-top: 25px;
    }
}

.body {
    font-size: $textBody;
    text-align: center;
}

.usesDiagram {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 70px;
    height: 330px;

    & .circle {
        right: 60px;
        top: 240px;
    }

    & .bacon {
        top: 150px;
        left: 50px
    }
}

.diagram {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    color: white;
    border: solid 14px white;
    text-align: center;
    padding-top: 95px;
    margin: -25px;

    &--yellow {
        background-color: $yellow;
    }

    &--orange {
        top: 60px;
        background-color: $orange;
    }

    &--green {
        background-color: $green;
    }
}

.functions {
    padding-top: 90px;

    & h3 {
        color: $red;
        font-size: $textSubtitle;
        text-align: center;
    }
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    margin-top: 50px;

    & .function {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 240px;
        
        & img {
            height: 120px;
            margin: 15px;
        }

        & p {
            text-align: center;
            font-size: $textBody;
        }
    }
}

.aboutUs {
    position: relative;
    display: flex;
    padding-top: 90px;
    margin-top: 19vw;

    & .bacon {
        top: -20px;
        left: 130px;
        transform: rotate(180deg);
    }

    & .circle {
        bottom: 20px;
        left: 50vw;
    }

    & .filledCircle {
        width: 57px;
        height: 57px;
        bottom: 0;
        left: 48.3vw;
        margin: 0;
    }

    & .background {
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 0;
    }

    & .books {
        height: 37vw;
        margin-left: 130px;
    }

    & div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: white;
        margin: 50px 130px;

        & h2 {
            text-align: right;
            font-size: $textTitle;
            font-weight: 600;
        }

        & p {
            font-size: 18px;
            text-align: right;
            margin: 20px 0;
            font-weight: 300;
        }

        .btn {
            position: relative;
            font-size: 20px;
            width: 200px;
            padding-top: 6px;
        }
    }
}

.projects {
    position: relative;
    text-align: center;
    margin-top: -200px;
    padding-top: 300px;

    & .background {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 65px; left: 0;
    }

    & h4 {
        font-weight: 600;
        font-size: $textSubtitle;
        color: $orange;
        margin-bottom: 30px;
    }

    & p {
        width: 55%;
        text-align: center;
        margin: 30px auto;
        font-size: $textBody;
        font-weight: 300;
    }

    & .projectCards {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 70px auto;
    }

    & .btn--blue {
        padding: 8px 60px;
    }

    .circle {

        &--xLarge {
            left: 0;
            top: 200px;
        }

        &--big {
            right: 0;
            top: 230px;
        }
    }

    .filledCircle {

        &--xLarge {
            width: 415px;
            height: 415px;
            left: -100px;
            top: 290px;
        }

        &--big {
            width: 126px;
            height: 126px;
            top: 250px;
            right: 20px;
        }
    }

    .bacon {
        right: 150px;
        top: 140px;
        transform: rotate(180deg);
    }
}

.categories {
    position: relative;
    text-align: center;
    margin-top: 300px;

    & h4 {
        font-size: $textSubtitle;
        font-weight: 600;
        color: $orange;
        margin-bottom: 20px;
    }

    & .title {
        width: 670px;
        margin: 0 auto;
    }

    & p {
        width: 55%;
        text-align: center;
        margin: 30px auto;
        font-size: $textBody;
        font-weight: 300;
    }

    & .cards {
        margin-top: 100px;
    }
}

.userCentered {
    margin-top: 150px;
    display: flex;

    & .background {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    & .student {
        position: relative;
        bottom: 5.5vw;
        right: 6vw;
        width: 45.76vw;
    }

    & .info {
        display: flex;
        flex-direction: column;
        color: white;
        margin: 170px 130px;
        margin-right: 50px;

        & h2 {
            text-align: left;
            font-size: $textTitle;
            font-weight: 600;
        }

        & p {
            font-size: 18px;
            text-align: left;
            margin: 20px 0;
            font-weight: 300;
        }

        .btn {
            position: relative;
            font-size: 20px;
            width: 200px;
            padding-top: 6px;
        }
    }
}

.resources {
    text-align: center;

    & h2 {
        font-weight: 600;
        font-size: $textSubtitle;
        color: $orange;
        margin: 20px;
    }

    & p {
        width: 60%;
        margin: 10px auto;

        & span {
            display: block;
            margin: 20px auto;
        }
    }

    & .resource {

        & h2 {
            margin: 60px auto;
            color: $red;
            font-weight: 700;
        }

        &Row {
            display: flex;
            justify-content: space-around;
            padding: 10px 70px;
        }

        & img {
            height: 140px;
        }
    }

    & .btn {
        display: block;
        width: 225px;
        margin: 100px auto;

    }
}

.classPlan {
    text-align: center;
    margin: 150px 0;

    & p {
        width: 57%;
        font-size: $textBody;
        font-weight: 300;
        margin: 20px auto;
    }

    &__row {
        display: flex;
        justify-content: space-around;
        margin: 100px 0;
        padding: 0 150px;

        & div {
            width: 25%;
            height: 340px;
            position: relative;

            & img {
                height: 90px;
            }

            & .title {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 60px;

                & h2 {
                    color: $red;
                    font-size: $textSubtitle;
                    vertical-align: bottom;
                    margin: 0 auto;
                }
            }
            

            & p {
                font-size: $textBody;
                text-align: justify;
                line-height: 25px;
                width: 100%;
                margin: 10px 0;
            }

            & a {
                position: absolute;
                width: 80%;
                display: block;
                margin: 0 10%;
                bottom: 0;
            }
        }
    }
}

.register {
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    width: 80%;
    margin: 50px auto;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 40px;

        & p{
            text-align: center;
            padding-top: 40px;
        }

        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 100%;
            margin: 30px 0;

            & .btn {
                width: 220px;
                margin-top: 60px;

            }
        }
    }
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../resources/footer.svg');
    height: 361px;
    color: white;

    & .logo {
        margin-top: 120px;
    }

    & .socialMedia {
        margin-top: 20px;
    }

    & .extraInfo {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        font-size: $textSmall;
        padding: 20px 50px;

        & div {
            display: flex;

            & a {
                color: white;
                text-decoration: none;
                margin: 0 20px;
            }
        }
    }
}

.textInput{
    padding: 10px 0 10px 80px;
    height: 48px;
    border-radius: 24px;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(237, 237, 237, 0.7);
    border: none;

    &--user {
        background-image: url('../resources/authorIcon.svg');
        background-repeat: no-repeat;
        background-position-y: 15px;
        background-position-x: 35px;
    }

    &--email {
        background-image: url('../resources/emailIcon.svg');
        background-repeat: no-repeat;
        background-position-y: 15px;
        background-position-x: 35px;
    }

    &--password {
        background-image: url('../resources/passwordIcon.svg');
        background-repeat: no-repeat;
        background-position-y: 15px;
        background-position-x: 35px;
    }

    &:focus {
        outline: none;
    }
}