.categoryCard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 400px;

    & .cardFront {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
            margin: 40px 0;
            margin-top: 80px;
        }

        & h2 {
            font-size: 18px;
            color: $red;
            text-align: center;
            max-width: 90%;
            margin: 20px 0;
        }
    }
}

.cardRow {
    display: flex;
    justify-content: space-around;
    padding: 0 80px;
    margin: 60px 0;
}