$yellow: #FFD25E;
$orange: #FFAA51;
$green: #B0DC41;
$red: #EB5276;
$gradientRed: linear-gradient(90deg, #FFAA51 0%, #EB5276 100%), #FFAA51;
$gradientRedVertical: inear-gradient(180deg, #FFAA51 0%, #EB5276 100%), #FFAA51;
$gradientBlue: linear-gradient(90deg, #4BE1E7 0%, #B0DC41 100%), #4BE1E7;
$gradientBlueVertical: linear-gradient(180deg, #4BE1E7 0%, #B0DC41 100%), #4BE1E7;

$textBody: 16px;
$textSubtitle: 22px;
$textSmall: 14px;
$textTitle: 34px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.05em;
}

@import './pages/landing';
@import './components/button';
@import './components/projectCard';