* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.05em;
}

.bacon {
  position: absolute;
  width: 70px;
}

.verticalLine {
  border-left: solid 2px white;
  height: 16px;
}

.circle {
  position: absolute;
}

.circle--small {
  width: 25px !important;
  height: 25px;
}

.filledCircle {
  position: absolute;
  border-radius: 50%;
  background-color: #FFAA51;
  opacity: 0.08;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

header .header__flag {
  position: relative;
  margin: 0 30px;
  height: 182px;
  background-size: cover;
  background-image: url("../resources/flag.svg");
  top: -20px;
  padding: 50px 10px;
  padding-bottom: 0;
}

header .header__flag img {
  width: 215px;
}

header .pageInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
  top: 20px;
  border-bottom: solid 2px white;
  height: 30px;
  width: 400px;
  padding: 0 50px;
}

header .pageInfo a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62%;
}

nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  max-width: 150px;
}

.intro {
  width: 100%;
  height: 57vw;
}

.intro img {
  width: 100%;
  position: absolute;
}

.intro p {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  top: 470px;
  font-size: 22px;
  width: 49%;
}

.intro .circle {
  top: 51.7vw;
  left: 60vw;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary .title {
  text-align: center;
}

.summary .title p {
  font-size: 22px;
  font-weight: 600;
  color: #FFAA51;
}

.summary .body {
  width: 70%;
  margin-top: 25px;
}

.summary .btn {
  margin-top: 25px;
}

.body {
  font-size: 16px;
  text-align: center;
}

.usesDiagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 70px;
  height: 330px;
}

.usesDiagram .circle {
  right: 60px;
  top: 240px;
}

.usesDiagram .bacon {
  top: 150px;
  left: 50px;
}

.diagram {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  color: white;
  border: solid 14px white;
  text-align: center;
  padding-top: 95px;
  margin: -25px;
}

.diagram--yellow {
  background-color: #FFD25E;
}

.diagram--orange {
  top: 60px;
  background-color: #FFAA51;
}

.diagram--green {
  background-color: #B0DC41;
}

.functions {
  padding-top: 90px;
}

.functions h3 {
  color: #EB5276;
  font-size: 22px;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 200px;
  margin-top: 50px;
}

.row .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 240px;
}

.row .function img {
  height: 120px;
  margin: 15px;
}

.row .function p {
  text-align: center;
  font-size: 16px;
}

.aboutUs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  margin-top: 19vw;
}

.aboutUs .bacon {
  top: -20px;
  left: 130px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.aboutUs .circle {
  bottom: 20px;
  left: 50vw;
}

.aboutUs .filledCircle {
  width: 57px;
  height: 57px;
  bottom: 0;
  left: 48.3vw;
  margin: 0;
}

.aboutUs .background {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
}

.aboutUs .books {
  height: 37vw;
  margin-left: 130px;
}

.aboutUs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  margin: 50px 130px;
}

.aboutUs div h2 {
  text-align: right;
  font-size: 34px;
  font-weight: 600;
}

.aboutUs div p {
  font-size: 18px;
  text-align: right;
  margin: 20px 0;
  font-weight: 300;
}

.aboutUs div .btn {
  position: relative;
  font-size: 20px;
  width: 200px;
  padding-top: 6px;
}

.projects {
  position: relative;
  text-align: center;
  margin-top: -200px;
  padding-top: 300px;
}

.projects .background {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 65px;
  left: 0;
}

.projects h4 {
  font-weight: 600;
  font-size: 22px;
  color: #FFAA51;
  margin-bottom: 30px;
}

.projects p {
  width: 55%;
  text-align: center;
  margin: 30px auto;
  font-size: 16px;
  font-weight: 300;
}

.projects .projectCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 70px auto;
}

.projects .btn--blue {
  padding: 8px 60px;
}

.projects .circle--xLarge {
  left: 0;
  top: 200px;
}

.projects .circle--big {
  right: 0;
  top: 230px;
}

.projects .filledCircle--xLarge {
  width: 415px;
  height: 415px;
  left: -100px;
  top: 290px;
}

.projects .filledCircle--big {
  width: 126px;
  height: 126px;
  top: 250px;
  right: 20px;
}

.projects .bacon {
  right: 150px;
  top: 140px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.categories {
  position: relative;
  text-align: center;
  margin-top: 300px;
}

.categories h4 {
  font-size: 22px;
  font-weight: 600;
  color: #FFAA51;
  margin-bottom: 20px;
}

.categories .title {
  width: 670px;
  margin: 0 auto;
}

.categories p {
  width: 55%;
  text-align: center;
  margin: 30px auto;
  font-size: 16px;
  font-weight: 300;
}

.categories .cards {
  margin-top: 100px;
}

.userCentered {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userCentered .background {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.userCentered .student {
  position: relative;
  bottom: 5.5vw;
  right: 6vw;
  width: 45.76vw;
}

.userCentered .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin: 170px 130px;
  margin-right: 50px;
}

.userCentered .info h2 {
  text-align: left;
  font-size: 34px;
  font-weight: 600;
}

.userCentered .info p {
  font-size: 18px;
  text-align: left;
  margin: 20px 0;
  font-weight: 300;
}

.userCentered .info .btn {
  position: relative;
  font-size: 20px;
  width: 200px;
  padding-top: 6px;
}

.resources {
  text-align: center;
}

.resources h2 {
  font-weight: 600;
  font-size: 22px;
  color: #FFAA51;
  margin: 20px;
}

.resources p {
  width: 60%;
  margin: 10px auto;
}

.resources p span {
  display: block;
  margin: 20px auto;
}

.resources .resource h2 {
  margin: 60px auto;
  color: #EB5276;
  font-weight: 700;
}

.resources .resourceRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 70px;
}

.resources .resource img {
  height: 140px;
}

.resources .btn {
  display: block;
  width: 225px;
  margin: 100px auto;
}

.classPlan {
  text-align: center;
  margin: 150px 0;
}

.classPlan p {
  width: 57%;
  font-size: 16px;
  font-weight: 300;
  margin: 20px auto;
}

.btn {
  position: relative;
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 150px;
  width: 15%;
  height: 38px;
  padding-top: 8px;
  cursor: pointer;
}

.btn--blue {
  background: -webkit-gradient(linear, left top, right top, from(#4BE1E7), to(#B0DC41)), #4BE1E7;
  background: linear-gradient(90deg, #4BE1E7 0%, #B0DC41 100%), #4BE1E7;
}

.btn--red {
  background: -webkit-gradient(linear, left top, right top, from(#FFAA51), to(#EB5276)), #FFAA51;
  background: linear-gradient(90deg, #FFAA51 0%, #EB5276 100%), #FFAA51;
}

.btn--white {
  background-color: white;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border: none;
  color: black;
  padding: 5px 0;
  margin: 5px;
}

.projectCard {
  width: 360px;
  color: #333;
}

.projectCard__img {
  width: 100%;
  border-radius: 20px;
}

.projectCard h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.projectCard p {
  text-align: left;
  font-size: 14px;
  margin: 15px 0;
  width: 100%;
  font-weight: 600;
}

.projectCard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projectCard__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectCard__info div img {
  margin-right: 10px;
}

.projectCard__info div p {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.categoryCard {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 400px;
}

.categoryCard .cardFront {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryCard .cardFront img {
  margin: 40px 0;
  margin-top: 80px;
}

.categoryCard .cardFront h2 {
  font-size: 18px;
  color: #EB5276;
  text-align: center;
  max-width: 90%;
  margin: 20px 0;
}

.cardRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 80px;
  margin: 60px 0;
}
/*# sourceMappingURL=main.css.map */